.documenteditor {
  text-align: left;
  display: flex;
  padding-left: 100px;
}
.docbuttons{
  text-align: right;
}
.formbox{
  display: flex;
  justify-content: center;
}
.loginform{
  background-color: white;
  margin: auto;
  max-width: 80%;
  min-height: 500px;
}
.logintext{
  text-align: center;
}
.filestable {
  background-color: white;
  margin: auto;
  max-width: 80%;
  min-height: 500px;
}
.home {
  background-color: blue;
  color: white;
  text-align: center;
}
.homebar {
  text-align: right;
  color: blue;
  font-weight: bold;
  font-family: garamond
}

.registerbutton {
  text-align: right;
}

.material-icons {
align-self: center;
}
.homeimage {
height: 20px;
padding-right: 10px;
}

.editor {

}
.editorbox {
  background-color: white;
  max-width: 80%;
  margin: auto;
  min-height: 500px;
  padding: 10px 10px 10px;
  margin-top: 10px;
}

.toolbar {
  display: flex;
  justify-content: center;

}
.colorpicker {

}

.superFancyBlockquote {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}

.entire {
padding-bottom: 20px;
}
